# .gitattributes 文件是 Git 用于定义特定文件或路径的属性和行为的配置文件。它可以控制文件如何被 Git 处理，例如换行符的规范化、差异合并的方式、二进制文件的标记等。

# 对特定文件强制使用 LF 换行符
# LF (Line Feed): Unix 和 macOS 使用的换行符。
# CRLF (Carriage Return + Line Feed): Windows 使用的换行符。
tool.sh text eol=lf